.employee-image-wrapper {

    width: 20%;
    margin: 1%;

    img {
        border-radius: 50%;
        border: 5px solid $white;
    }

    h4 {
        font-size: 2em;
        margin-bottom: .5rem;
    }

    h5 {
        font-size: 1.5em;
        margin-top: .5rem;
    }
}