footer {
     //background: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);
     background-color: $hard;
     height: 20vh;
     font-family: 'Montserrat', sans-serif;
     font-size: 42px;
     margin: 0px;

     ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

     li{
       display: inline;
     }


     a,li{
       color: white;
       font-family: 'Montserrat', sans-serif;
       font-size: 22px;
       padding-right: 40px;
       text-decoration: none;
     }
}
