header {
     background: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);
     height: 100vh;
     font-family: 'Montserrat', sans-serif;
     font-size: 42px;

     .headerContent{
       padding-left: 15%;
       padding-right: 15%;
       padding-top: 15%;
     }
}
