.navbar {
  text-align: center;
  margin-top: 3em;

  a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 1em;
    text-decoration: none;
    transition: all 1s;
    @media screen and (max-width: $break-small) {
      display: block;
    }

    &:hover{
      color: $activeLink;
    }
  }
}
