.navbar {
  text-align: center;
  position: center;
  margin-top: 150px;

  a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    text-decoration: none;
    transition: all 1s;
    &:hover{
      color: $activeLink;
    }
  }



  .linkSpace{
    margin-right: 8%;
  }
}
