.navigationbar {
  text-align: center;
  position: center;
  margin-top: 150px;

  a {
    color: white;
    font-family: 'Montserrat';
    font-size: 22px;
    padding-right: 40px;
    text-decoration: none;
  }
}
