@import 'vars.scss';

.page-section{
    border-top: .75em solid $white;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10vh;

    h2 {
        font-size: 8em;
        margin-bottom: 1rem;
    }

    p {
        width: 80%;
    }
}

//Specific sections
#Idea {
    background-color: $light;
}

#Project {
    background-color: $hard;
}

#Company {
    background-color: $medium;
}